@media only screen and (max-width: 576px) {

    /* Responsive Css of Navbar */
   .navbar{
       width: 80%;
       margin: auto;
    }
   .nav-items-container{
        display: none;
    }

    .icon{
        display: block;
    }


    /* Responsive Css of Banner Section */
    .banner{
        flex-direction: column;
        width: 80%;
        margin: 40px auto 0;
    }

    .banner-child1{
        width: 100%;
        margin-left: 0;
    }

    .banner-h2{
        font-size: 35px;
    }

    .shape{
        font-size: 55px;
    }

    .banner-p{
        font-size: 16px;      
    }
    
    .banner-child2{
        width: 320px;
        margin: auto;
    }

    .btn1{
        position: absolute;
        top: 80px;
        left: 190px;
        padding: 8px 15px;
    }
    
    .b500{
        font-size: 20px;
    }
    
    .bfree{
        font-size: 8px;
    }

    .btn2{
        position: absolute;
        top: 300px;
        left: -15px;
        padding: 10px 25px 10px;
    }
    
    .red{
         position: absolute;
         height: 15px;
         width: 15px;
         left: 8px;
         top: 22px;
    }
    
    .b350{
        font-size: 20px;
        margin-left: 10px;
    }
    
    .bvideo{
        font-size: 8px;
    }

    .child1-btn1{
        font-size: 12px;
        padding: 8px 20px;
        margin-right: 8px;
    }
    
    .child1-btn2{
        font-size: 12px;
        padding: 8px 20px;
    }


    /* Responsive Css of Habits Section */
    .habits{
        padding-top: 0px;
    }

    .habits-text-h2{
        font-size: 32px;
    }

    .habit-items{
        flex-direction: column;
        margin-top: 60px;
    }

    .habit-item{
        width: 70%;
        margin:  0 auto 70px;
    }

    .last-item{
        margin-bottom: 10px;
    }

    .habit-item-h4{
        margin-top: 15px;
    }


    /* Responsive Css of Run Section */
    .run{
        flex-direction: column;
        padding: 20px 30px;
        margin-top: 50px;
    }

    .run-text{
        width: 90%;
        margin: auto;
        padding-top: 20px;
    }

    .run-text-h2{
        font-size: 32px;
    }

    .run-btn{
        display: block;
        font-size: 18px;
        font-family: "Inter", sans-serif;
        font-weight: 600;
        padding: 12px 80px;
        border: none;
        border-radius: 42px;
        margin: 20px auto 0;
    }
  
    .run-pic{
        width: 70%;
        margin: 20px auto 0;
    }

    .space-cut{
        display: none;
    }
    


    /* Responsive Css of BMI Section */
    .bmi-text{
        width: 95%;
        margin-top: 30px;
    }

    .bmi-text-h2{
        font-size: 32px;
        margin-bottom: 20px;
    }

    .bmi-2nd{
        flex-direction: column;
        padding: 20px 5px;
    }
    
    .bmi1-2nd{
        width: 80%;
        margin: auto;
        padding-left: 0;
    }
    
    .bmchart{
        font-size: 20px;
    }

    table{
        margin-top: 20px;
        margin-bottom: 40px;
    }

    table th{
        font-size: 14px;
    }

    table td{
        font-size: 12px;
    }
    
    .bmi2-2nd{
        width: 80%;
        margin: auto;
    }

    .bmi2-2nd input[type="text"]{
        margin: 2px;
    }

    select{
        margin: 2px;
    }

    .calbmi{
        font-size: 20px;
    }

    .calbmip{
        font-size: 12px;
    }

    input::placeholder{
        font-size: 12px;
    }
    
    .last-input select{
        width: 83%;
    }
    
    select{
        font-size: 12px;
    }

    .cal-btn{
        font-size: 14px;
        padding: 10px 50px;
    }


    /* Responsive Css of Team Section */
    .team-text{
        width: 78%;
        margin: auto;
    }

    .team-text-h2{
        font-size: 32px;
    }

    .team-pic-container1{
        flex-direction: column;
    }

    .team-pic-container2{
        flex-direction: column;
    }

    .team-pic{
        width: 100%;
        margin-bottom: 20px;
    }

    .team-pic-container2{
        margin-top: 5px;
    }

    .cut1{
        display: none;
    }

    .cut4{
        display: none;
    }

  }