@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Inter", sans-serif; */

@import url('https://fonts.cdnfonts.com/css/miama');

/* font-family: 'Miama', sans-serif; */

                

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Css of Header Part */
header{
    background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.890),rgba(0, 0, 0, 0.930),black); 
    padding-top: 60px;
}


/* Css of Navbar */
.navbar{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-h3{
    color: #E6533C;
    font-size: 35px;
    font-family: "Inter", sans-serif;
    font-weight: bolder;
}

.nav-items-container{
    display: flex;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 25px;
}

.nav-items-container a{
    text-decoration: none;
}

.nav-items-container li{
    list-style: none;
}

.first-item{
   margin-left: 4px;
}

.nav-items{
    margin-right: 50px;
}

.last-item{
    margin-right: 20px;
}
.home{
    background-color: #E6533C;
    color: white;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    padding: 8px 20px;
    border: none;
    border-radius: 40px;
}

.nav-items{
    color: white;
    font-size: 18px;
    font-family: "Inter", sans-serif;
}

.icon{
    color: white;
    display: none;
}


/* Css of Banner part */
.banner{
    max-width: 1300px;
    margin: auto;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.banner-child1{
    width: 45%;
    margin-left: 100px;
}

.banner-h2{
    color: white;
    font-size: 70px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
}

.shape{
    font-size: 100px;
    font-family: 'Miama', sans-serif;
    font-weight: 500;
}

.banner-p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-family: "Inter", sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
}

.child1-btn1{
    background-color: #E6533C;
    color: rgba(255, 255, 255);
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    padding: 16px 40px;
    border: none;
    border-radius: 42px;
    margin-right: 15px;
}

.child1-btn2{
    background-color: black;
    color: white;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    padding: 16px 40px;
    border: 2px solid white;
    border-radius: 42px;
}

.banner-child2{
    width: 35%;
    height: 580px;
    background-image: url('../assets/Images\ 2.png');
    background-repeat: no-repeat;
    position: relative;
    margin-left: 100px;
}

.btn1{
    position: absolute;
    top: 150px;
    left: 220px;
    background-color: rgba(48, 48, 48, 0.578);
    color: white;
    padding: 13px 20px;
    border-radius: 12px; 
    border: none;
}

.b500{
    font-size: 30px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

.bfree{
    font-size: 13px;
    font-family: "Inter", sans-serif;
}

.btn2{
    position: absolute;
    top: 430px;
    left: -90px;
    background-color: rgba(48, 48, 48, 0.574);
    color: white;
    padding: 13px 50px 20px;
    border-radius: 12px; 
    border: none;
    position: relative;
}

.red{
     position: absolute;
     height: 25px;
     width: 25px;
     background-color: red;
     border-radius: 50%;
     display: inline-block;
     left: 15px;
     top: 30px;
     
}

.b350{
    font-size: 30px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

.bvideo{
    font-size: 13px;
    font-family: "Inter", sans-serif;
}


/* Css of Habit Part */
.habits{
    background-color: black;
    max-width: 1200px;
    margin: auto;
    padding-top: 100px;
}

.habits-text{
    text-align: center;
}

.habits-text-h2{
    color: white;
    font-size: 48px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
}

.habits-text-p{
    color: white;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    margin-top: 15px;
}

.habit-items{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

.habit-item{
    width: 23%;
    text-align: center;
}

.habit-item-pic img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: auto;
}

.habit-item-h4{
    color: white;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    margin-top: 30px;
}

.habit-item-p{
    color: white;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    margin-top: 10px;
}

 
/* Css of Main Part */
main{
    background-color: black;
}


/* Css of Run Part */
.run{
    background-color: #222222;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 40px 50px;
    margin-top: 100px;
    border-radius: 20px;
}

.run-text{
    width: 45%;
    padding-top: 50px;
}

.run-text-h2{
    color: white;
    font-size: 48px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

.run-text-p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-family: "Inter", sans-serif;
    margin-top: 15px;
}

.run-btn{
    background-color: #E6533C;
    color: white;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    padding: 16px 70px;
    border: none;
    border-radius: 42px;
    margin-top: 30px;
}

.run-pic{
    width: 45%;
}

.run-pic img{
    width: 100%;
    border-radius: 18px;
    object-fit: cover;
}



/* Css of BMI Section */
.bmi-text{
    width: 50%;
    margin: 60px auto;
}

.bmi-text-h2{
    color: white;
    font-size: 48px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

.bmi-text-p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-family: "Inter", sans-serif;
}

.bmi-2nd{
    background-color: #222222;
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.bmi1-2nd{
    width: 40%;
    padding-left: 150px;
}

.bmchart{
    color: white;
    font-size: 28px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

.bmi2-2nd{
    width: 50%;
}

.calbmi{
    color: white;
    font-size: 28px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

.calbmip{
    color: white;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    margin: 15px 0 30px;
}

table{
    margin-top: 50px;
}

table{
    border:1px solid rgba(255, 255, 255, 0.1);
}

table td,th{
    padding: 15px;
}

table th{
    color: white;
    text-align: start;
}

table td{
    color: rgba(255, 255, 255, 0.5);
}

.bmi2-2nd input[type="text"]{
    background-color: rgba(255, 255, 255, 0.1);
    width: 40%;
    padding: 13px 20px;
    border-radius: 8px;
    margin: 5px;
    border: none;
}

.abc2{
    width: 40%;
    padding: 11px 20px;
    border-radius: 8px;
    margin: 5px;
}


input::placeholder{
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-family: "Inter", sans-serif;
}

.last-input select{
    width: 82%;
    padding: 13px 20px;
    border-radius: 8px;
    margin: 5px;
}

select{
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 16px;
    font-family: "Inter", sans-serif;
    border: none;
    margin: 5px;
}

.op{
    color: black;
}

.cal-btn{
    background-color: #E6533C;
    color: white;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    padding: 12px 60px;
    border: none;
    border-radius: 42px;
    margin-top: 30px;
}



/* Css of Team Section */
.team{
    max-width: 1100px;
    margin: auto;
    border: 2px solid red;
    margin-top: 80px;
}

.team-text{
    text-align: center;
    color: white;
}

.team-text-h2{
    color: white;
    font-size: 48px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

.team-text-p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-family: "Inter", sans-serif;
    margin-top: 15px;
}

.team-pic-container{
    background-color: #222222;
    border: 2px solid blue;
    padding: 30px;
    margin-top: 50px;
}

.team-pic-container1{
    display: flex;
    justify-content: space-evenly;
}

.team-pic-container2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.team-pic{
    width: 31%;
    position: relative;
    border-radius: 12px;
    border: 2px solid green;
}

.team-pic img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
}

.team-pic-text{
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.tpt-h4{
    color: white;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

.tpt-h5{
    color: rgba(255, 255, 255, 0.51);
    font-size: 14px;
    font-family: "Inter", sans-serif;
}